In [1]:
%load_ext autoreload
%autoreload 2
!ln -s ../src/ ./src

ln: failed to create symbolic link './src/src': File exists

In [2]:
from torch.utils.data import DataLoader
from src.dataset import TweetDataset

In [3]:
train_set = TweetDataset(filename = '../data/train.csv', maxlen = 48)
val_set = TweetDataset(filename = '../data/test.csv', maxlen = 48)

In [34]:
train_set.classes

['neutral', 'negative', 'positive']

In [33]:
val_set[1]

{'sentence': ' Shanghai is also really exciting (precisely -- skyscrapers galore). Good tweeps in China:  (SH)  (BJ).',
 'input_ids': tensor([  101,  8344,  2003,  2036,  2428, 10990,  1006, 10785,  1011,  1011,
         24581,  2015, 14891,  5686,  1007,  1012,  2204,  1056, 28394,  4523,
          1999,  2859,  1024,  1006, 14021,  1007,  1006,  1038,  3501,  1007,
          1012,   102,     0,     0,     0,     0,     0,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0]),
 'attention_mask': tensor([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]),
 'label': tensor(1)}

In [20]:
import pandas as pd

In [22]:
df = pd.read_csv('../data/train.csv')
df

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral

In [24]:
df.isnull().sum()/len(df)

textID           0.000000
text             0.000036
selected_text    0.000036
sentiment        0.000000
dtype: float64

In [28]:
df.dropna().to_csv('../data/train.csv', index=False)

In [8]:
train_set[0]

{'sentence': ' I`d have responded, if I were going',
 'input_ids': tensor([ 101, 1045, 1036, 1040, 2031, 5838, 1010, 2065, 1045, 2020, 2183,  102,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0]),
 'attention_mask': tensor([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]),
 'label': tensor(0)}

In [5]:
# Creating instances of training and validation dataloaders
train_loader = DataLoader(train_set, batch_size = 16, shuffle=True)
val_loader = DataLoader(val_set, batch_size = 16)